@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&family=Raleway&family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Press+Start+2P&family=Quicksand&family=VT323&display=swap');

.btn {
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.2);
}

.font-four
{
  font-family: 'VT323', monospace;
  font-weight: 700;
}


.gradient,
.active {
  background: rgba(255, 255, 255, 0.5);
  color: white;
  backdrop-filter: blur(3px);
}

.active {
  color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  /* .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  } */
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}

.range input {
  -webkit-appearance: none;
  width: 100px;
  height: 4px;
  border-radius: 5px;
  outline: none;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255);
}
.rotate-center {
  -webkit-animation: rotate-center 3s linear infinite both;
  animation: rotate-center 3s linear infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;
  background-color: transparent;
}

#hill {
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: .25em solid whitesmoke;
  transform: rotate(45deg);
}

#hill:after {
  content: '';
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  left: 0;
  background-color: transparent;
}

#box {
  position: absolute;
  left: 0;
  bottom: -.1em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: .25em solid whitesmoke;
  border-radius: 15%;
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}
.box {
  height: auto;
  width: 520px;
  position: relative;
}
.box__line {
  position: absolute;
  background: rgba(255, 255, 255, 1);
}
.box__line--top, .box__line--bottom {
  height: 8px;
  width: 100%;
}
.box__line--top::before, .box__line--bottom::before, .box__line--top::after, .box__line--bottom::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 1);
}
.box__line--top {
  top: -8px;
}
.box__line--top::before {
  left: 0;
  bottom: -8px;
}
.box__line--top::after {
  right: 0;
  bottom: -8px;
}
.box__line--bottom {
  bottom: -8px;
}
.box__line--bottom::before {
  left: 0;
  top: -8px;
}
.box__line--bottom::after {
  right: 0;
  top: -8px;
}
.box__line--left, .box__line--right {
  width: 8px;
  height: 100%;
}
.box__line--left {
  left: -8px;
}
.box__line--right {
  right: -8px;
}
.leading-for-home
{
  line-height: -\1;
}
.text-null-500
{
  color: red;
}